<section class="date-container">
  <ul class="date-cotainer-list">
    <li class="date__day"></li>
    <li class="date__month-time">
      <p class="date__month"></p>
      <p class="date__time"></p>
    </li>
  </ul>

  <ul class="date__sun">
    <li class="date__sunrise">
      <img class="date__sunrise--icon" src="./images/sunrise.png" alt="" />
      <p class="date__sunrise--time"></p>
    </li>
    <li class="date__sunset">
      <img class="date__sunset--icon" src="./images/sunset.png" alt="" />
      <p class="date__sunset--time"></p>
    </li>
  </ul>
</section>
