<div class="search-container">
  <div class="form-wrapper">
    <!-- <button type="button" class="geo-btn">
      <svg class="geo-btn__img" width="20" , height="20">
        <use href="./images/svg/symbol-defs.svg#icon-location"></use>
      </svg>
    </button> -->
    <form class="search-city">
      <input type="text" name="query" placeholder="Enter the city" class="search-form" />
      <button type="button" class="geo-btn">
        <svg class="geo-btn__img" width="20" height="20">
          <use href="./images/svg/symbol-defs.svg#icon-location"></use>
        </svg>
      </button>
      <button type="button" class="search-city__form-btn js-search-city__form-btn">
        <svg class="search-city__icon-fav" width="20" height="20">
          <use href="./images/svg/symbol-defs.svg#icon-star-1"></use>
        </svg>
      </button>
    </form>
  </div>

  <div class="seach-favorite">
    <a href="#" class="back-btn visually-hidden">
      <img src="./img/next.svg" width="8" height="16" alt="image description" />
    </a>
    <ul class="seach-favorite-list"></ul>
    <a href="#" class="frw-btn visually-hidden">
      <img src="./img/next.svg" width="8" height="16" alt="image description" />
    </a>
  </div>
</div>
